<div id="comment_<%= comment.id %>">
  <div>
    <%= comment.text.content %>
  </div>
  <% if comment.replies.present? %>
    <% comment.replies.includes(:text).each_with_index do |reply, index|%>
      <%# Index is for visually indenting each reply as done below (see class)%>
      <%= render partial: "comments/reply",
                 locals: { post: post,
                           comment: reply,
                           reply_count: index,
                           parent_comment: comment } %>
    <% end %>
  <% end %>
  <%= button_tag "Reply",
                  type: "button",
                  data: { action: "comments#showReplyForm",
                          comments_parent_id_param: comment.id,
                          comments_target: "replyBtn" }%>
  <template data-comments-target="replyForm">
    <%= render partial: "comments/reply_form", locals: { parent_comment: comment } %>
  </template>
</div>
