<% if notification.notifiable.likeable_type == "Post" %>
  <%= button_to post_path(notification.notifiable.likeable_id), type: "button", method: :get do%>
    <div class="flex gap-2">
      <%= render partial: "notifications/shared/user_avatar", locals: {user: notification.sender} %>
      <p class="text-left"><strong><%=notification.sender.name%></strong> has liked your post!</p>
    </div>
  <% end %>
<% elsif notification.notifiable.likeable_type == "Comment" %>
  <%= button_to post_path(notification.notifiable.likeable.post), type: "button", method: :get do %>
    <div class="flex gap-2">
      <%= render partial: "notifications/shared/user_avatar", locals: {user: notification.sender} %>
      <p class="text-left"><strong><%=notification.sender.name%></strong> has liked your comment!</p>
    </div>
  <% end %>
<% end %>
