<main>
  <h1>Home</h1>
  <%= link_to "Find Friends", users_path %>
  <%= link_to "My Friends", user_friends_path %>

  <div>
  <% if current_user.notifications.any? %>
    <%= render "users/notifications" %>
  <% end %>
  </div>

  <div data-controller="dialogs" >
    <%= button_tag "Create Post",
        type: "button",
        data: { action: "dialogs#openDialog" }%>
    <%= render "posts/form" %>
  </div>
  <%= turbo_stream_from "home_#{current_user.id}" %>
  <div id="posts">
    <%= render "posts/relevant_posts" %>
  </div>
</main>
