<main class="h-full">
  <%= turbo_frame_tag "content" do %>
  <%# link_to "Find Friends", users_path %>
  <%# link_to "My Friends", user_friends_path %>
    <div class="flex h-full">
      <section class="bg-slate-300 w-full">
        <div data-controller="dialogs" >
          <%= button_tag "Create Post",
              type: "button",
              data: { action: "dialogs#openDialog" }%>
          <%= render "posts/form" %>
        </div>
        <%= turbo_stream_from "home_#{current_user.id}" %>
        <div id="posts">
          <%= render "posts/relevant_posts" %>
        </div>
      </section>

        <%# if current_user.notifications.any? %>
          <%# render "users/notifications" %>
        <%# end %>
  <% end %>

</main>
