<main>
  <h1>Home</h1>
  <%= link_to "Find Friends", users_path %>
  <%= link_to "My Friends", user_friends_path %>

  <div>
  <% if current_user.notifications.any? %>
    <%= render "users/notifications" %>
  <% end %>
  </div>

  <div>
  <%= form_with scope: :post, url: posts_path, method: :post, id: "post_form" do |f| %>
    <%= f.text_area :text_content %>
    <%= f.submit "Post" %>
  <% end %>
  </div>
  <%= turbo_stream_from "home_#{current_user.id}" %>
  <div id="posts">
    <%= render "posts/relevant_posts" %>
  </div>
</main>
