  <%# TODO! add close button to dialog %>
  <dialog data-comments-target="dialogBox">
    <%= render partial: "posts/post_format", locals: { post: post }%>
    <%= turbo_stream_from "post_#{post.id}" %>
    <div id="comments" data-comments-target="commentsCont">
      <% post.comments.includes(:replies).each do |comment| %>
        <div id="comment_<%= comment.id %>">
          <%# comment.text_content%>
          <%= render partial: "comments/comment", locals: { post: post, comment: comment}%>
        </div>
        <% if comment.replies.any? %>
          <% comment.replies.each_with_index do |reply, index|%>
          <%# Index is for visually indenting each reply as done below (see class)%>
            <div id="reply_<%= reply.id %>" class="m-[<%= index + 3 %>]px">
              <%= reply.text_content %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with scope: :comment, url: comments_path, method: :post do |f| %>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.text_area :text_content, data: { comments_target: "commentText" }%>
        <%= f.submit "Post Comment", data: { action: "comments#prependComment"} %>
      <% end %>
    </div>
  </dialog>
