  <dialog data-dialogs-target="dialogBox" data-streams-target="dialogCont" data-action="keydown.esc->streams#endStream">
    <%= button_tag "Close",
                  type: "button",
                  data: { action: "dialogs#closeDialog streams#endStream" }%>
    <%= render partial: "posts/post_format",
               locals: { post: post } %>
    <div id="comments" data-comments-target="commentsCont">
      <% post.comments.includes(:replies, :text).each do |comment| %>
          <%= render partial: "comments/comment",
                     locals: { post: post, comment: comment } %>
      <% end %>
    </div>
    <div>
      <%= render partial: "comments/form", locals: { post: post } %>
    </div>
    <template data-streams-target="streamElement">
      <%= turbo_stream_from "post_#{post.id}" %>
    </template>
  </dialog>
